.boucherie1 {
	display: table-cell;
	position: relative;
}
.merguez {
	position : absolute;
	top : 11%;
	left : 30%;
}
.chistora {
	position : absolute;
	top : 11%;
	left : 40%;
}
.saucisses {
	position : absolute;
	top : 11%;
	left : 50%;
}
.travers {
	position : absolute;
	top : 11%;
	left : 60%;
}
.dropdown-menu {
	min-width : 100px;
}