.nav-footer {
	color : white!important;
	font-size : 0.9rem;
}

html {
    position: relative;
    min-height: 100%;
}

footer {
    display:none;
    position: absolute;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    z-index: -100;
}